BasedOnStyle: LLVM
Language: Cpp
IndentWidth: 4
ColumnLimit: 100
BreakBeforeBraces: Linux
PointerAlignment: Right
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AlignConsecutiveMacros: Consecutive
SortIncludes: CaseSensitive
